language: node_js
node_js:
- '10'
deploy:
  provider: firebase
  token:
    secure: "UsIsjQRFcKOs6J9307nEeVffoxEbv3Y4DS4rWzXpaT30BJqmfB4+m1UEZxqMAh2pE7owBMCvPsFy5VoEV6wM2GLy835SnSUExI61KM4lALpH4Ekg6qFIDiI8ujKdkrzdC09y1ObBxfiVsuBcFX4ex9WN6ON4C2xMztr561Xl+3vnioJ63eMqsdYcJrhWxef56FA5ZLYsScpmwEknQ9mUEX+FacmBTMVl3/PRe+vNmS3FyrWujK1Wc1QyrK1IU1oIfR96fMqMCmtLPzEX0nVSuCRVvrBwAa9c02jn+X/boiSWXbeU2Gm1n+52eyZt5M+xTQZJPbwwKD7qgebUO5QuJJsiJAH4jpCbfT+xpcdNcpj+ZoTglO3e1Uom2LzPPiMSvwTUJo8N1KLs3rF2izG7n/5zBgCaoccuvmV0uWKleP04NoYPLSWJbDZXyMhE4aKKGpqqgMiq/oMKybDxOnfvAC0ZwGubrk0GkX0KMnD7dkNU7yLrH02UVL/sa+zEjCG+38xTpLXPD4xboJbOC6w1hHkc7sioGc6xmGLb3RsQV5RWgYKa0gYzMmN8bweEdlBPBqcpSMceFTiHn0BZss59SNzXXwgyDiceQZt/G4nxcK7st3OyvskIyfvXMQpwKeURgSBHit7ztK0jBUlQSuqfB/p583SEFW8eAioLT0W3LpA="
